{{ partial "header.html" . }}
<body>
  <div class="container-fluid">
    {{ partial "nav_bar.html" . }}
    <div id="content">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-centered center-block">
          <h1 class="post-header">{{ .Params.postname }}</h1><p class="post-date">{{ .Date.Format "Mon, Jan 2, 2006"  }}</p>
          <br>
            {{ if .Params.thumbnail }}
              <img class="post-pic img-rounded", src="{{ .Params.thumbnail | relURL }}">
            {{ end }}
            {{ .Content }}
        </div><!--col-->
      </div><!--row-->
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-centered center-block">
            {{ partial "disqus.html" . }}
        </div><!--col-->
      </div><!--row-->
    </div><!--content-->
    {{ partial "footer.html" . }}
  </div><!--container-fluid-->
</body>
