{{ partial "header.html" . }}
<body>
  <div class="container-fluid">
    {{ partial "nav_bar.html" . }}
    <div id="content">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-centered center-block">
          <h2 class="post-header">{{ .Params.postname }}</h2>
          <p>{{ .Date.Format "Mon, Jan 2, 2006"  }} &mdash; 
          {{ .WordCount }} words &mdash; Read in {{ .ReadingTime }} min</p>
            {{ if .Params.thumbnail }}
              <img class="post-pic img-rounded", src="{{ .Params.thumbnail | relURL }}">
            {{ end }}
            {{ .Content }}
        </div><!--col-->
      </div><!--row-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-centered center-block">
            {{ partial "disqus.html" . }}
        </div><!--col-->
      </div><!--row-->
    </div><!--content-->
    {{ partial "footer.html" . }}
  </div><!--container-fluid-->
</body>
