{{ partial "header.html" . }}
<body>
  <div class="container-fluid">
    {{ partial "nav_bar.html" . }}
    <div id="content">
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-centered center-block">
          <img class="imgleft", src="assets/headshot.jpg">
          <p> 
          Hello! My name is Max. I'm a student at the University of Michigan studying 
          Computer Science and Data Science in the School of Engineering. 
          I am currently a junior and my academic interests include computer networking, 
          computer and network security, and machine learning. 
          I am a member of the Wolverine Capture the Flag Club, Girls in Electrical 
          Engineering and Computer Science, and the Michigan Data Science Team. 
          I recently worked under Dr. Michalis Kallitsis researching new methods of anomaly 
          detection for the future "smart" power grid. Currently, I am a software 
          engineering intern with FICO where I work on the back-end system of our 
          enterprise security score product.
          </p>
          <p>
          I enjoy reading technology and security news as well as 
          participating in capture the flag events on and off campus.
          If you don't find me doing one of the aforementioned things,
          then you can probably find me buried in my computer customizing
          my window manager/status bar, tinkering with a technology
          I'm unfamiliar with, or working on a project.
          </p>
          <p> 
          Aside from programming and tech-stuff, I'm a musician and 
          avid music listener with a wide range of appreciation 
          from jazz and hip hop to progressive rock and new age. 
          I play the guitar, drumset, and keyboard and I love going 
          to local shows to see my favorite bands perform live.
          </p>
        </div><!--col-->
      </div><!--row-->
    </div><!--content-->
    {{ partial "footer.html" . }}
  </div><!--container-fluid-->
</body>
